.App {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	text-align: center;
}

.upgrade {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
}

.debug {
	position: absolute;
	bottom: 0;
	left: 0;
	color: grey;
	.n1 {
	}
}
