html {
	height: 100%;

	width: 100%;
	display: flex;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;

	display: flex;
	height: 100%;
	width: 100%;
}

#root {
	display: flex;
	height: 100%;
	width: 100%;
}

.background {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.reset {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	color: #348539;
}

.ticker {
	display: flex;
	width: 100%;
	justify-content: center;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
}

.App {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.upgrade {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
}
.upgrade > span {
	margin-top: 6px;
}

.upgrade-container {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	/* margin: 5px; */
	margin-bottom: 5px;
}

.type-container {
	display: flex;
	flex-direction: column;
}

.type-name {
	font-weight: 500;
	width: 190px;
}
.debug {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
	color: grey;
}

.desc {
	font-style: italic;
}

.bonus {
	font-style: italic;
	color: #348539;
}

.hinderance {
	font-style: italic;
	color: brown;
}
